@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-display: 'Instrument Serif', serif;
  --font-sans: 'Inter', system-ui, sans-serif;

  --color-olive-50: oklch(98.8% 0.003 106.5);
  --color-olive-100: oklch(96.6% 0.005 106.5);
  --color-olive-200: oklch(93% 0.007 106.5);
  --color-olive-300: oklch(88% 0.011 106.6);
  --color-olive-400: oklch(73.7% 0.021 106.9);
  --color-olive-500: oklch(58% 0.031 107.3);
  --color-olive-600: oklch(46.6% 0.025 107.3);
  --color-olive-700: oklch(39.4% 0.023 107.4);
  --color-olive-800: oklch(28.6% 0.016 107.4);
  --color-olive-900: oklch(22.8% 0.013 107.4);
  --color-olive-950: oklch(15.3% 0.006 107.1);
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-olive-100);
    --scroll-padding-top: 0;
    scroll-padding-top: var(--scroll-padding-top);

    @variant dark {
      background-color: var(--color-olive-950);
    }
  }

  * {
    @apply border-border;
  }
}

@utility prose-olive {
  --tw-prose-body: var(--color-olive-700);
  --tw-prose-headings: var(--color-olive-900);
  --tw-prose-lead: var(--color-olive-700);
  --tw-prose-links: var(--color-olive-900);
  --tw-prose-bold: var(--color-olive-900);
  --tw-prose-counters: var(--color-olive-600);
  --tw-prose-bullets: var(--color-olive-400);
  --tw-prose-hr: var(--color-olive-300);
  --tw-prose-quotes: var(--color-olive-900);
  --tw-prose-quote-borders: var(--color-olive-300);
  --tw-prose-captions: var(--color-olive-700);
  --tw-prose-code: var(--color-olive-900);
  --tw-prose-pre-code: var(--color-olive-100);
  --tw-prose-pre-bg: var(--color-olive-900);
  --tw-prose-th-borders: var(--color-olive-300);
  --tw-prose-td-borders: var(--color-olive-200);
  --tw-prose-invert-body: var(--color-olive-300);
  --tw-prose-invert-headings: var(--color-white);
  --tw-prose-invert-lead: var(--color-olive-300);
  --tw-prose-invert-links: var(--color-white);
  --tw-prose-invert-bold: var(--color-white);
  --tw-prose-invert-counters: var(--color-olive-400);
  --tw-prose-invert-bullets: var(--color-olive-600);
  --tw-prose-invert-hr: var(--color-olive-700);
  --tw-prose-invert-quotes: var(--color-olive-100);
  --tw-prose-invert-quote-borders: var(--color-olive-700);
  --tw-prose-invert-captions: var(--color-olive-400);
  --tw-prose-invert-code: var(--color-white);
  --tw-prose-invert-pre-code: var(--color-olive-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--color-olive-600);
  --tw-prose-invert-td-borders: var(--color-olive-700);
}

@utility prose-olive-dark {
  --tw-prose-body: var(--color-olive-300);
  --tw-prose-headings: var(--color-white);
  --tw-prose-lead: var(--color-olive-300);
  --tw-prose-links: var(--color-white);
  --tw-prose-bold: var(--color-white);
  --tw-prose-counters: var(--color-olive-400);
  --tw-prose-bullets: var(--color-olive-600);
  --tw-prose-hr: var(--color-olive-700);
  --tw-prose-quotes: var(--color-olive-100);
  --tw-prose-quote-borders: var(--color-olive-700);
  --tw-prose-captions: var(--color-olive-400);
  --tw-prose-code: var(--color-white);
  --tw-prose-pre-code: var(--color-olive-300);
  --tw-prose-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-th-borders: var(--color-olive-600);
  --tw-prose-td-borders: var(--color-olive-700);
}

@theme inline {
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}

:root {
  --popover: var(--color-olive-100);
  --popover-foreground: var(--color-olive-900);
  --background: var(--color-olive-100);
  --foreground: var(--color-olive-900);
  --border: var(--color-olive-200);
  --ring: var(--color-olive-200);
  --input: var(--color-olive-200);
  --muted: var(--color-olive-100);
  --muted-foreground: var(--color-olive-700);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(97.1% 0.013 17.38);
  --primary: var(--color-olive-500);
  --primary-foreground: var(--color-olive-100);
}

@variant dark {
  :root {
    --popover: var(--color-olive-950);
    --popover-foreground: var(--color-olive-100);
    --background: var(--color-olive-950);
    --foreground: var(--color-olive-100);
    --border: var(--color-olive-800);
    --ring: var(--color-olive-800);
    --input: var(--color-olive-800);
    --muted: var(--color-olive-950);
    --muted-foreground: var(--color-olive-300);
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: oklch(97.1% 0.013 17.38);
    --primary: var(--color-olive-500);
    --primary-foreground: var(--color-olive-100);
  }
}
